{% extends 'index.html' %}

{% block content %}


        <section class="page-padding">

        {% for item in home_text %}
            {% autoescape off %}

                <p>{{ item.text }}</p>

            {% endautoescape %}
        {% endfor %}


        </section>

        <section id="category" class="page-padding gray page-flex-column">
            <h1 class="my-page-title">Check out all the different types of cakes we offer!</h1>
            <div class="category-images page-flex-row">
                {% for item in category %}
                    <div class="category-item page-flex-column">
                        <img src="{{ item.image.url }}">
                        <a href="{% url 'category' item.slug %}" class="link">{{ item }}</a>
                    </div>
                {% endfor %}
            </div>
        </section>

{% endblock %}