{% extends 'index.html' %}


{% block content %}

    <div id="home-image">
        <div>
            <div>
                <a id="img-btn" class="link">Interested?</a>
            </div>
        </div>
    </div>

    <h1 class="page-title">Welcome to Zoe's Cakes!</h1>

    <div id="bake-slide">

    {% for item in category %}
        <div class="bake-slide">
            <img src="{{ item.image.url  }}">
            <h1 class="link">{{ item.name }}</h1>
        </div>
    {% endfor %}

    </div>

    <div id="recent-posts">

        <div class="blog-post">
            <img class="blog-img" src="/static/img/cake.jpg">
            <div class="blog-text">

                <h1 class="page-title">Check out my recent Cake!</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae cupiditate deserunt earum ex iure laborum molestiae natus officiis pariatur sapiente? Ducimus laudantium maxime modi nisi nulla perspiciatis quod rem reprehenderit.</p>

            </div>

        </div>

    </div>

{% endblock %}