{% extends 'index.html' %}

{% block content %}

    <section class="page-padding gray">
            <article class="single-item">
                <img src="{{ item.image.url }}">
                <div class="item-text page-flex-column">
                    <h1 class="my-page-title">{{ item.name }}</h1>
                    {% autoescape off %}
                        <p>{{ item.description }}</p>
                    {% endautoescape %}
                </div>
            </article>
    </section>

{% endblock %}