/* CSS Contents:
    1 - Root Variables
    2 - Fonts
    3 - Nav
    4 - Page
    5 - Home Image

      - Link Animation
*/

/* 1 - Root Variables */
    :root{
        --nav-padding: 15px;
        --nav-width: 80%;
        --page-height: calc(100vh - 88px);
        --theme-color-1: #ff97cc;
        --font-s: 26px
    }


/* 2 - Fonts */

    @font-face {
        font-family: myFirstFont;
        src: url('/static/fonts/lalezar/Lalezar-Regular.otf');
    }

    /*
        font-family: 'Work Sans', sans-serif;
        font-family: myFirstFont, sans-serif;
    */

    h1, a, p, button {
        font-size: var(--font-s);
        font-family: 'Work Sans', sans-serif;

    }


/* 3 - Nav */
    #nav {
        background-color: var(--theme-color-1);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0;
        z-index: 100;
        color: white;
    }

    #navbar {
        width: var(--nav-width);
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    #nav-title{
        font-weight: bold;
        text-align: center;
        font-family: myFirstFont, sans-serif;
        color: black !important;
    }

    #nav-title img {
        height: 60px;
        width: auto;
        margin-top: 6px;
    }

    #line-1 {
        font-size: 1.75em;
    }

    #line-2 {
        font-size: 1.3em;
    }

    #nav-list{
        display: flex;
        flex-direction: row;
        list-style-type: none;
    }

    #nav-list a {
        margin: 0 10px;
    }

/* 4 - Page */

    body {
         overflow-x: hidden;
    }
    #page {
        min-height: var(--page-height);
        width: var(--nav-width);
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .page-title {
        font-size: 2.5em;
        margin-bottom: 25px;
        font-family: myFirstFont, sans-serif;
    }


/* 5 - Home Image */
    #home-image {
        height: 80vh;
        width: 100vw;
        background-image: url("/static/img/40561786_743518755990400_4098802932567244800_n.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 100% 100%;
        margin-bottom: 50px;
    }

    #home-image div {
        width: inherit;
        height: inherit;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
    }

    #home-image div div {
        width: var(--nav-width);
        margin: 0 auto;
    }

    #img-btn {
        width:  content-box;
        background-color: var(--theme-color-1);
        padding: 10px;
        border: none;
        margin-bottom: 100px;
    }


    /* 6 - Bake Slide */

    #bake-slide {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 10px 10px 25px 10px;
    }

    .bake-slide {
        height: 200px;
        width: 200px;
        background-color: var(--theme-color-1);
        margin: 5px;
    }
    .bake-slide img {
        width: 200px;
        height: 150px;
    }

    .bake-slide h1 {
        text-align: center;
        padding: 10px;
        font-family: myFirstFont, sans-serif;
    }


    .force-overflow {
        min-height: 450px;
    }

    /* 7 - Blog Post */

    #recent-posts {
        height: 500px;
        margin: 20px 0 ;
    }

    .blog-post {
        display: flex;
        flex-direction: row;
    }
    .blog-text {
        display: flex;
        flex-direction: column;
    }

    .blog-img {
        height: 300px;
        width: auto;
        margin-right: 20px;
    }




/*   - Link Animation */

    a {
        text-decoration: none;
    }

    .link{
        position: relative;
        color: white;
    }

    .link:after{
        content: '';
        position: absolute;
        width: 0;
        height: 3px;
        display: block;
        margin-top: 5px;
        right: 0;
        background: #fff;
        transition: width .2s ease;
        -webkit-transition: width .2s ease;
    }

    .link:hover:after{
        width: 100%;
        left: 0;
        background: #fff;
    }