{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Handlee|Pacifico|Rochester" rel="stylesheet">
</head>


<body>

    <div id="nav">
        <div id="navbar">
            <a id="nav-title" href="/">
                <img src="/static/img/zoes%20cakes/zoes-png.png">
            </a>
            <ul id="nav-list">
                <li><a class="link" href="/">About</a></li>
                <li><a class="link" href="/">Cakes</a></li>
                <li><a class="link" href="/">Shop</a></li>
                <li><a class="link" href="/">Contact</a></li>
            </ul>
        </div>
    </div>

    <div id="page">

        {% block content %}

        {% endblock %}

    </div>

</body>

</html>