/* CSS Contents:
     - Root Variables
     - Fonts
     - Gradients
     - Nav
     - Page
     - Sections
     -
     - Link Animation
*/


/*  - Root Variables */

    :root{
        --nav-padding: 15px;
        --nav-width: 80vw;
        --page-height: calc(75vh - 100px);
        --theme-color-1: #90c5f0;
        --font-s: 26px;
        --section-color-1: rgba(188, 236, 255, 0.31);
        --section-color-2: rgb(255, 255, 255);
        --blend-color: rgba(0, 0, 0, 0.4);
    }


/*  - Fonts */

    /*
        font-family: 'Work Sans', sans-serif;
        font-family: myFirstFont, sans-serif;
        font-family: 'Pacifico', cursive;
        font-family: 'Dancing Script', cursive;
        font-family: 'Handlee', cursive;
        font-family: 'Rochester', cursive;

    */

    #nav a {
        font-family: 'Pacifico', cursive;
    }

    .bake-slide a, .item-text a {
        font-family: 'Dancing Script', cursive;
    }

    h1, a, p, button {
        font-size: var(--font-s);
        font-family: 'Handlee', cursive;
    }

/* - Gradients */

    .gradient-1 {
        background: rgb(37,141,200); /* Old browsers */
        background: -moz-linear-gradient(-135deg, #90c5f0 40%, #ffffff 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-135deg, #90c5f0 40%, #ffffff 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(-135deg, #90c5f0 40%, #ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#258dc8', endColorstr='#258dc8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }

    .gradient-2 {
        background: #f0f9ff; /* Old browsers */
        background: -moz-linear-gradient(-45deg, rgba(161, 219, 255, 0.31) 0%, rgba(161, 219, 255, 0.3) 33%, rgba(128, 136, 255, 0.31) 66%, rgba(240, 249, 255, 0.31) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg, rgba(161, 219, 255, 0.31) 0%, rgba(161, 219, 255, 0.3) 33%, rgba(128, 136, 255, 0.31) 66%, rgba(240, 249, 255, 0.31) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(-45deg, rgba(240, 249, 255, 0.8) 0%, rgba(161, 219, 255, 0.8) 33%, rgba(128, 136, 255, 0.8) 66%, rgba(240, 249, 255, 0.81) 100%);/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=1 );
    }

    .gradient-3 {
        background: -moz-linear-gradient(135deg, #90c5f0 0%, rgb(194, 182, 240) 100%);/* FF3.6-15 */
        background: -webkit-linear-gradient(135deg, #90c5f0 0%, rgb(194, 182, 240) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, #90c5f0 0%, rgb(194, 182, 240) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }

    .gradient-4 {
        background: -moz-linear-gradient(135deg, #90c5f0 0%, rgb(194, 182, 240) 100%);/* FF3.6-15 */
        background: -webkit-linear-gradient(135deg, #90c5f0 0%, rgb(194, 182, 240) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, #90c5f0 0%, rgb(212, 192, 217) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }



/* - Nav */
    #nav {
        padding-left: 18px;
        align-items: center;

        justify-content: space-between;
        background-color: transparent;
    }

    #navbar {
        width: var(--nav-width);
        margin: 0 auto;

        justify-content: space-between;
        align-items: center;
    }

    #nav-title{
        align-items: center;
    }

    #nav-title img {
        height: 100px;
        width: auto;
        padding: 7.5px;
    }

    #navbar-collapse, #nav-list{
        width: fit-content;
    }
    #nav-list{
        width: fit-content;
        list-style-type: none;
    }

    #nav-list a {
        margin: 0 10px;
    }

    .navbar-header {
        width: available;
        justify-content: flex-start;
    }
    .navbar-toggle {
        background-color: red;
        float: right;

    }
    .navbar-collapse.collapse.in {
      display: block!important;
    }

    .nav-flex-row {
        display: flex;
        flex-direction: row;
    }


/* 4 - Landing */

    body {
        overflow-x: hidden;
    }
    html {
        height: fit-content;
    }

    #landing {
        height: available;

        justify-content: flex-start;
        align-items: center;

        background-image: url("/static/img/backgrounds/back1.42ccbab602d3.jpg");
        background-size: 175% ;
        background-position: center;
        background-position-x: -250px;
    }

    #landing .my-page-title {
        color: white;
    }


    #landing-content{
        min-height: var(--page-height);
        width: 80%;

        justify-content: center;
        align-items: center;
    }

    #landing-content p {
        color: white;
    }


/* - Page */
    section, .page {
        min-width: 300px;
    }

    .page {
        min-height: 100vh;
        width: 100vw;
    }

    .page-content {
        width: 80%;
        min-height: 100vh;

        margin: 0 auto;

        background-color: var(--section-color-2)
    }

    .my-page-title {
        font-size: 36px;
        margin-bottom:20px ;
    }

    .page-padding {
        padding: 30px 30px;
    }

    .page-flex-row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

    }

    .page-flex-column {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .blend {
        background-color: var(--blend-color);
        background-blend-mode: multiply;
    }

    .gray {
        background-color: var(--section-color-1)
    }

    .slug:first-letter {
        text-transform: capitalize;
    }


/* 5 - Sections */

    .section-title {
        margin: 20px 0 ;
        font-size: 30px;
    }


    /* - Category */

    #category {
        width: 100%;
        margin: 0 auto;
    }

    .category-images {
        justify-content: center;
        align-items: center;
    }

    .category-item {
        width: 200px;
        align-items: center;
        margin: 15px 10px 0 10px;
    }

    .category-item:first-child{
        margin-left: 0;
    }
    .category-item:last-child {
        margin-right: 0;
    }
    .category-item img {
        height: 200px;
        width: 200px;
    }

    .category-item a {
        font-size: 32px;
        color: black;
        align-items: center;
        padding: 15px 0 10px 0;
    }


/* - Single Post */

    .single-item img {
        height: 250px;
        width: 250px;
        margin-right: 25px;
    }

    .item-text {
        width: calc(100% - 275px);
    }

/* - Responsive */

@media screen and (max-width: 900px){

    .page-flex-row{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .item-text {
        width: 100%;
    }
    .single-item {
        justify-content: center;
    }

    .single-item img {
        margin-right: 0;
        margin-bottom: 25px;
    }

}
@media screen and (max-width: 650px){
    #landing {
        display: none;
    }

}


@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }

    #navbarCollapse {
        width: 100%;
        margin-right: 50px;
    }

    .nav.navbar-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .navbar-default .navbar-nav > li > a {
        padding: 7.5px;

    }

}
/*   - Link Animation */



    .a-animation {
    margin-left: 80px;
    color: #ffffff;
    text-decoration: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


    background-image: linear-gradient(to right, #ffffff 50%, #000000 50%);
    background-size: 300% 100%;
    background-position: right bottom;
    transition: all .2s ease;
    }

    .a-animation:hover {
    background-position: left bottom;
        text-decoration: none;
    }

    a:hover {
        text-decoration: none;
    }

    .link{
        position: relative;
        color: #000000;text-decoration: none;
    }

    .link:after{
        content: '';
        position: absolute;
        width: 0;
        height: 3px;
        display: block;
        margin-top: 5px;
        left: 0;
        bottom: 0;
        background: #fff;
        transition: width .2s ease;
        -webkit-transition: width .2s ease;
    }

    .link:hover:after{
        width: 100%;
        left: 0;
        background: #fff;
    }